<div id="calendar-header">
	<h2 class ="calendar-title">Calendar: <%= "#{params[:n]} Weeks"%></h2>
	<span class="quiet"><%= @start.strftime("%B %d, %Y") %> - <%= @end.strftime("%B %d, %Y") %></span>	
</div>
