<h2>Editing <%= @calendar_event.name %></h2>

<div class="span-24">
	<%= render :partial => "form" %>	
</div>	

<%= link_to 'Show', @calendar_event %> |
<%= link_to 'Back', calendar_events_path %>
	

