<h2><%=h @view.name %></h2>

<% @calendar_events = @view.calendar_events %>

<%= render :partial => "/shared/calendar_events_table" %>


<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
